@model MVCLesson4_big.Models.RegistrationModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Home"))
{
    <div><label>Логин</label> @Html.TextBoxFor(m=>m.Login)</div>
    <div><label>Пароль</label>@Html.TextBoxFor(m=>m.Pass)</div>
    <div><label>Подтверждение пароля</label>@Html.TextBoxFor(m=>m.PassSec)</div>
    <div><label>Email</label>@Html.TextBoxFor(m=>m.Email)</div>
    <div>
        <input type="submit" value="Войти">
    </div>
}
@if (ViewBag.Result != null)
{
    <div>
        @ViewBag.Result
    </div>
}